*.gem
*.rbc
.bundle
.config
.rvmrc
.yardoc
.DS_Store
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/carrierwave_test/uploads
test/carrierwave_test/tmp
test/tmp
test/version_tmp
tmp